article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;*behavior:url(/scripts/boxsizing.htc);}
html{color:#333333;-webkit-font-smoothing:antialiased;}
body{width:960px;margin:0 auto;font-size:1em;font-family:"Verdana",sans-serif;line-height:1.4;}
.chromeframe{background:#b1b1b1;color:#333333;margin:0.2em 0;padding:0.2em 0;}
img{vertical-align:middle;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
h1{margin:0.67em 0;font-size:2em;font-family:"Palatino",serif;}
h2{margin:0.83em 0;font-size:1.5em;font-family:"Palatino",serif;}
h3{margin:1em 0;font-size:1.17em;font-family:"Palatino",serif;}
h4{margin:1.33em 0;font-size:1em;font-family:"Palatino",serif;}
h5{font-size:0.83em;margin:1.67em 0;}
h6{font-size:0.75em;margin:2.33em 0;}
p{margin:0 0 35px;}
ul,ol{margin:0 0 35px;}
ul ul,ol ol,ol ul,ul ol{margin:0;}
ul.styleless,ol.styleless{margin:0;padding:0;list-style:none;}
a:link,a:active,a:visited{color:#049cdb;text-decoration:none;}
a:hover{color:#036690;text-decoration:underline;}
[role="banner"]{width:100%;margin:35px 0;}[role="banner"] h1 a:link,[role="banner"] h1 a:active,[role="banner"] h1 a:visited{color:#049cdb;text-shadow:2px 2px 1px #cccccc;filter:dropshadow(color=#cccccc, offx=2px, offy=2px);text-decoration:none;}
[role="banner"] h1 a:hover{color:#036690;text-decoration:underline;}
nav{overflow:hidden;}nav ul,nav ol{float:left;width:100%;padding:0;list-style:none;list-style-image:none;}
nav ul li{position:relative;display:inline;}
nav ul a{position:relative;float:left;display:block;margin-left:px;padding:px;color:#049cdb;text-decoration:none;}
nav ul li:first-child a{margin-left:0;}
nav ul a:hover{color:#036690;text-decoration:underline;}
nav ul.dropdown{margin:0;padding:0;display:block;position:absolute;z-index:10;top:100%;width:250px;left:30px;display:none;background:none;border:0;}nav ul.dropdown li{margin:0;padding:0;float:none;position:relative;list-style:none;display:block;border:0;}
nav ul.dropdown a{display:block;width:250px;font-size:1.0em;margin:0;float:none;display:inline-block;padding:8px 10px;-webkit-transition:background-color 0.5s ease-in-out,color 0.5s linear;border-bottom:1px solid #02587c;color:#fff;}
nav ul.dropdown a:hover{background:#036690;text-decoration:none;}
nav ul.dropdown li:first-child{border-left:0;}
[role="main"]{float:left;display:inline;width:620px;margin-left:10px;}
[role="complementary"]{float:right;display:inline;width:300px;font-size:.95em;margin-right:10px;}
[role="contentinfo"]{display:inline;float:left;clear:both;margin:25px 0;}[role="contentinfo"] p{color:#999999;font-size:0.8em;}
.pull-left{float:left;}
.pull-right{float:right;}
.cf{*zoom:1;}.cf:before,.cf:after{display:table;content:"";}
.cf:after{clear:both;}
.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px;}
.ir:before{content:"";display:block;width:0;height:100%;}
.show{display:block;}
.hide,[hidden]{display:none;}
.hidden{display:none !important;visibility:hidden;}
.visuallyHidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.hide-text{text-indent:100%;white-space:nowrap;overflow:hidden;}
::-moz-selection{background:#62aaf2;color:#fff;text-shadow:none;}
::selection{background:#62aaf2;color:#fff;text-shadow:none;}
@media print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} abbr[title]:after{content:" (" attr(title) ")";} .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} pre,blockquote{border:1px solid #999;page-break-inside:avoid;} thead{display:table-header-group;} tr,img{page-break-inside:avoid;} img{max-width:100% !important;} @page {margin:0.5cm;}p,h2,h3{orphans:3;widows:3;} h2,h3{page-break-after:avoid;}}
