RewriteEngine On
RewriteBase /

RewriteRule ^editor(.*)$ editor$1 [PT]
RewriteRule ^img(.*)$ img$1 [PT]
RewriteRule ^css(.*)$ css$1 [PT]
RewriteRule ^scripts(.*)$ scripts$1 [PT]

#RewriteCond %{HTTP_HOST} !^www.(.*) [NC]
#RewriteCond %{HTTP_HOST} !^[a-z0-9]+\.[a-z0-9]+\.[a-z0-9]+ [NC]
#RewriteRule ^(.*)$ http:\/\/www.%{HTTP_HOST}/$1 [R=301,L]

#RewriteCond %{REQUEST_URI} !\.(xml|js|ico|txt|gif|jpg|png|css|pdf|zip|fla|swf|htc)$ [NC]
RewriteRule ^.*$ index.php