RewriteEngine On
RewriteBase /

RewriteRule ^css(.*)$ css$1 [PT]
RewriteRule ^flash(.*)$ flash$1 [PT]
RewriteRule ^fonts(.*)$ fonts$1 [PT]
RewriteRule ^images(.*)$ images$1 [PT]
RewriteRule ^scripts(.*)$ scripts$1 [PT]
RewriteRule ^uploads(.*)$ uploads$1 [PT]

# Force www.
#RewriteCond %{HTTP_HOST} !^www.(.*) [NC]
#RewriteCond %{HTTP_HOST} !^[a-z0-9]+\.[a-z0-9]+\.[a-z0-9]+ [NC]
#RewriteRule ^(.*)$ http:\/\/www.%{HTTP_HOST}/$1 [R=301,L]

# Pass everything else to the app
#RewriteCond %{REQUEST_URI} !\.(xml|js|ico|txt|gif|jpg|png|css|pdf|zip|fla|swf|htc)$ [NC]
RewriteRule ^.*$ index.php