form#login {
	overflow: hidden;
}

nav ul li.adminSubMenu a {
	padding-top: 2px;
}

.fullContent form fieldset legend {
	margin-top: -10px;
}

.halfContent form fieldset legend {
	margin-top: -10px;
}