nav ul li.adminSubMenu a {
	padding-top: 2px;
}

.fullContent form fieldset legend {
	margin-top: -10px;
	margin-left: -22px;
	margin-right: 0;
}

.halfContent form fieldset legend {
	margin-top: -10px;
	margin-left: -22px;
	margin-right: 0;
}