/* @group reset */

/* http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */



/* @group structure */

html, body {
	background: #333;
}

body {
	font: 62.5% "Arial", Verdana, sans-serif;
	color: #333;
	text-align: center;
}

.no-js #no-js {
	display: block;
}

h1 {
	color: #eee;
	font-size: 2.5em;
	font-family: "OFLSortsMillGoudyRegular";
	width: 320px;
	margin: 95px auto 10px;
}

.hide {
	display: none;
}

/* @group font-face */

@font-face {
    font-family: 'OFLSortsMillGoudyItalic';
    src: url('/fonts/admin/oflgoudystm-italic-webfont.eot');
    src: url('/fonts/admin/oflgoudystm-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/admin/oflgoudystm-italic-webfont.woff') format('woff'),
         url('/fonts/admin/oflgoudystm-italic-webfont.ttf') format('truetype'),
         url('/fonts/admin/oflgoudystm-italic-webfont.svg#OFLSortsMillGoudyItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OFLSortsMillGoudyRegular';
    src: url('/fonts/admin/oflgoudystm-webfont.eot');
    src: url('/fonts/admin/oflgoudystm-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/admin/oflgoudystm-webfont.woff') format('woff'),
         url('/fonts/admin/oflgoudystm-webfont.ttf') format('truetype'),
         url('/fonts/admin/oflgoudystm-webfont.svg#OFLSortsMillGoudyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OFLSortsMillGoudyTTItalic';
    src: url('/fonts/admin/oflgoudystmtt-italic-webfont.eot');
    src: url('/fonts/admin/oflgoudystmtt-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/admin/oflgoudystmtt-italic-webfont.woff') format('woff'),
         url('/fonts/admin/oflgoudystmtt-italic-webfont.ttf') format('truetype'),
         url('/fonts/admin/oflgoudystmtt-italic-webfont.svg#OFLSortsMillGoudyTTItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OFLSortsMillGoudyTTRegular';
    src: url('/fonts/admin/oflgoudystmtt-webfont.eot');
    src: url('/fonts/admin/oflgoudystmtt-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/admin/oflgoudystmtt-webfont.woff') format('woff'),
         url('/fonts/admin/oflgoudystmtt-webfont.ttf') format('truetype'),
         url('/fonts/admin/oflgoudystmtt-webfont.svg#OFLSortsMillGoudyTTRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* @end */

/* @end */

/* @group forms */

section {
	background: #fff;
	width: 320px;
	margin: 0 auto;
	text-align: left;
}

section form {
	background: #fff;
	padding: 24px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0px 2px 10px -1px #000;
	-moz-box-shadow: 0px 2px 10px -1px #000;
	box-shadow: 0px 2px 10px -1px #000;
}

section form label {
	color: #666;
	font-size: 1.4em;
}

form input[type=text], form input[type=password] {
	background: #fbfbfb;
	width: 97%;
	font-size: 2.0em;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	margin: 2px 0 18px;
	padding: 3px;
	border: 1px solid #e5e5e5;
	outline: none;
	moz-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
	-webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
	box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

section a:link, section a:active, section a:visited {
	color: #3c8dde;
	font-size: 1.2em;
	text-decoration: none;
}

section a:hover {
	text-decoration: underline;
}

.alert {
	border: 1px solid;
	clear: both;
	font-size: 1.3em;
	margin: 0 0 20px;
	padding: 10px 10px 10px 35px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.alert.error {
	background: #facfcf url(/images/icons/exclamation.png) no-repeat 10px 10px;
	color: #820101;
	border-color: #dc1c1c;
}

.alert.info {
	background: #d8e7fa url(/images/icons/information.png) no-repeat 10px 10px;
	color: #00357b;
	border-color: #9dbfea;
}

.alert.success {
	background: #d1e8d2 url(/images/icons/accept.png) no-repeat 10px 10px;
	color: #00632e;
	border-color: #393;	
}

.right {
	float: right;
}

.left {
	float: left;
}

/* @end */

/* @group buttons */

.button { 
    position: relative; 
    overflow: visible; 
    display: inline-block; 
    padding: 0.5em 1em; 
    border: 1px solid #d4d4d4; 
    margin: 0;
    text-decoration: none; 
    text-shadow: 1px 1px 0 #fff; 
    font:11px/normal sans-serif; 
    color: #333 !important;
    white-space: nowrap; 
    cursor: pointer; 
    outline: none; 
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box; 
    /*background-clip: padding-box;*/ /* commented out due to Opera 11.10 bug */
    -webkit-border-radius: 0.2em; 
    -moz-border-radius: 0.2em; 
    border-radius: 0.2em; 
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
}

.button:hover, .button:focus, .button:active, .button.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none !important; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3); 
    color: #fff !important; 
    background-color: #3C8DDE;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.button:active, .button.active {
    border-color: #2a65a0;
    border-bottom-color: #3884CF;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.button.primary {
    font-weight: bold;
}

.button.danger {
    color: #900;
}

.button.danger:hover, .button.danger:focus, .button.danger:active {     
    border-color: #b53f3a;
    border-bottom-color: #a0302a;
    color: #fff; 
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -o-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
}

.button.danger:active, .button.danger.active {   
    border-color: #a0302a;
    border-bottom-color: #bf4843;
    background-color: #b33630;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b33630), to(#dc5f59));
    background-image: -moz-linear-gradient(#b33630, #dc5f59);
    background-image: -o-linear-gradient(#b33630, #dc5f59);
    background-image: linear-gradient(#b33630, #dc5f59);
}

.button.pill {
    -webkit-border-radius: 50em; 
    -moz-border-radius: 50em; 
    border-radius: 50em; 
}

.button.disable {
    opacity: 0.5;
}

.button.big {
    font-size: 14px; 
}

.button.big.icon:before { top: 0; }

.button-group {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
}

.button + .button, .button + .button-group, .button-group + .button, .button-group + .button-group {
    margin-left: 15px;
}

.button-group li {
    float: left;
    padding: 0;
    margin: 0;
}

.button-group .button {
    float: left;
    margin-left: -1px; 
}

.button-group > .button:not(:first-child):not(:last-child), .button-group li:not(:first-child):not(:last-child) .button { 
    -webkit-border-radius: 0; 
    -moz-border-radius: 0; 
    border-radius: 0; 
}

.button-group > .button:first-child, .button-group li:first-child .button { 
    margin-left: 0; 
    -webkit-border-top-right-radius: 0; 
    -webkit-border-bottom-right-radius: 0; 
    -moz-border-radius-topright: 0; 
    -moz-border-radius-bottomright: 0; 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0; 
}

.button-group > .button:last-child, .button-group li:last-child > .button { 
    -webkit-border-top-left-radius: 0; 
    -webkit-border-bottom-left-radius: 0; 
    -moz-border-radius-topleft: 0; 
    -moz-border-radius-bottomleft: 0; 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
}

.button-group.minor-group .button {
    border: 1px solid #d4d4d4; 
    text-shadow: none;
    background-image: none;
    background-color: #fff;
}

.button-group.minor-group .button:hover, .button-group.minor-group .button:focus {
    background-color: #599bdc;
}

.button-group.minor-group .button:active, .button-group.minor-group .button.active {
    background-color: #3072b3;
}

.button-group.minor-group .button.icon:before {
    opacity: 0.8;
}

/* For mixing buttons and button groups, e.g., in a navigation bar */
.button-container .button, .button-container .button-group {
    vertical-align: top;
}

/* @end */