body{
	background: #F4F4F4 url(/images/admin/header-bg.png) top center repeat-x;
	margin: 0;
	font-size:8pt;
}

/* @group Reset */

a:link {
	color: #000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: 0;
}
h2 {
	margin-top: 0;
	border-bottom:1px solid #CFCFCF;
}

/* TEMP CSS */
#fieldset_categories a:link, #fieldset_categories a:visited, #fieldset_categories a:active {
	color: #337EEC;
}

#fieldset_categories a:hover {
	text-decoration: underline;
}

a.cancelAnchor:link, a.cancelAnchor:active, a.cancelAnchor:visited {
	color: #cc0000;
	vertical-align: baseline;
}
/* END TEMP */

/* @group Regular Table */

table.tableData {
	border-width: 0 0 1px 1px;
	border-style: solid;
	border-color: #CFCFCF;
	border-spacing: 0;
	border-collapse: collapse;
}
table.tableData thead tr th, table.tableData tbody tr td {
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #CFCFCF;
	border-spacing: 0;
	border-collapse: collapse; 
	margin:0;
	padding:5px;
}
table.tableData thead tr th {
	background-color: #E6E6E6;
}
table.tableData tbody tr:nth-child(even) {
	background-color: #F5F5F5;
}
table.tableData tbody tr:hover {
	background-color: #FFFFCF;
}
table.tableData tbody tr td.small {
	width:70px;
}
table.tableData tbody tr td.center {
	text-align:center;
}
table.tableData tbody tr td.border-end {
	border-right: 1px solid #CFCFCF;
}

/* @group End */

/* @group Javascript Table */

table.dataTable {
	border: 1px solid #8F8F8F;
	border-spacing: 0;
	border-collapse: collapse;
}
table.dataTable thead tr th, table.dataTable tfoot tr td {
	border: 1px solid #8F8F8F;
	margin:0;
	padding:5px;
}
table.dataTable tbody tr td {
	margin:0;
	padding:5px;
}
table.dataTable thead tr th {
	background-color: #E6E6E6;
}
table.dataTable tbody tr:nth-child(even) {
	background-color: #F5F5F5;
}
table.dataTable tbody tr:hover {
	background-color: #FFFFCF;
}
table.dataTable tbody tr td.small {
	width:70px;
}
table.dataTable tbody tr td.center {
	text-align:center;
}
table.dataTable tbody tr td.border-end {
	border-right: 1px solid #8F8F8F;
}
table.dataTable tfoot tr td {
	background: #DCDCDC;
}
.jTPS tfoot tr td {
	border-top: 1px solid #8F8F8F;
}

/* @end */

/* @end */

/* @group Fieldset */

fieldset {
	margin-bottom:10px;
}
fieldset ul {
	margin:0;
	padding:0;
	list-style:none;
}
fieldset ul li {
	width:200px;
	float:left;
	margin: 0 0 10px 20px;
}
fieldset ul li ul li {
	float:none;
	margin: 0 0 3px 10px;
}

/* @end */

/* @group Classes */

.divider {
	opacity: .5;
}
.icon {
	float:left;
	margin-right: 5px;
}
.notice {
	padding:5px;
	margin:10px 0;
	font-size:10pt;
}
.portlet {
	padding:3px;
}
.portlet-header {
	padding:5px;
	text-transform: uppercase;
	
	margin-bottom:5px;
}
.portlet-content {
	padding:2px;
}
.clear {
	clear:both;
	height: 0;
}
.clear-right {
	clear: right;
}
.datepicker {
	font-size: 8pt;
}
.slider {
	margin:10px 5px;
}
.dialog {
	display:none;
}
.btn {
	display:block;
	float:left;
	margin:5px;
	padding:5px;
}
.btn:hover {
	text-decoration:none;
}
.body-content {
	padding:10px;
}
.hide {
	display:none;
}
.minwidth {
	width:auto;
}
.float-left {
	float:left;
}
.float-right {
	float:right;
}
.left-margin {
	margin-left: 15px;
}

/* @end */

/* @group Containers */

#site-container {
	width: 1000px;
	margin: 0 auto;
}
#content-container {
	margin-top:50px;
}
#body-container {
	margin-left:20px;
	width:730px;
	float:left;
}

/* @end */

/* @group: Header */

#header {
	color: #FFF;
}
#header a {
	color: #FFF;
}
#header-userinfo {
	margin: 7px;
	text-align: right;
}
/*#header h1 {
	margin-top:8px;
	padding:9px;
	font-weight:bold;
}*/
#header h1 {
	margin-top:8px;
	padding:9px;
	font-weight:bold;
}


/* @end */

/* @group: Menu */

#menu {
	float:left;
	width:250px;
}
#menu .info {
	padding: 4px 8px 8px;
}
#menu .info ul {
	margin: 0;
	padding: 0;
	list-style:none;
}
#menu .info ul li a {
	display:block;
	padding: 10px;
	border-bottom: 1px solid #DFDFDF;
}
#menu .info ul li a:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

/* @end */

/* @group: Body */

#sidebar {
	float:right;
	width:200px;
	margin: 5px 5px 10px 10px;
}
#sidebar .portlet-content {
	padding:5px 6px;
}

/* @end */

/* @group: Photos */

.photo {
	position: relative;
	float: left;
	border: 1px solid #9F9F9F;
	margin:10px;
}
.photo .move {
	background: rgba(0, 0, 0, .7) ;
	position:absolute;
	padding:1px 1px 0;
	top: 2px;
	left: 2px;
}
.photo .move img {
	cursor:pointer;
	cursor:hand;
}
.photo .image {
	display:block;
	width:150px;
	height:112px;
}
.photo .default {
	background: rgba(0, 0, 0, .6);
	position:absolute;
	padding:1px 3px 3px 1px;
	bottom:2px;
	left:2px;
}
.photo .default input {
	cursor:pointer;
	cursor:hand;
}
.photo .delete {
	background: rgba(0, 0, 0, .6) ;
	position:absolute;
	padding:2px;
	bottom:2px;
	right:2px;
	cursor:pointer;
	cursor:hand;
}
#photos .ui-state-highlight {
	float:left;
	width:150px;
	height:112px;
	line-height: 1.2em;
	margin:10px;
}
.photo_sort {
	display:none;
	float:right;
}

/* @end */

/* @group: Photo Upload */

#uploadPhotosFilesQueue {
	height:200px;
	overflow:auto;
	background:#FFF;
	border: 1px solid #8F8F8F;
}
#uploadPhotosDialogFooter {
	background: #DCDCDC;
	border: 1px solid #8F8F8F;
	border-top-width: 0;
	padding: 5px;
}

/* @end */

/* @group: Form */

label {
	display:block;
	margin-bottom:3px;
	font-size:10pt;
}
input.text {
	display:block;
	margin-bottom:10px;
	padding:3px;
	width:400px;
	font-size:12pt;
}
input.medium {
	width: 300px;
}
input.small {
	width:200px;
}
input.xsmall {
	width:100px;
}
#sidebar input.text {
	width:180px;
}
input.checkbox {
	
}
input.radio {
	float:left;
}
div.checkbox {
	margin-bottom:10px;
}
div.checkbox label {
	float:left;
}
div.radio {
	margin-bottom:10px;
}
div.section {
	margin-bottom:10px;
}
div.select_group select {
	width: auto;
}
textarea.textarea {
	display:block;
	margin-bottom:10px;
	padding:3px;
	width:400px;
	height:150px;
}
textarea.wysiwyg {
	height:300px;
}
select.select {
	margin-bottom:10px;
	padding:2px;
	width:200px;
}

/* @end */

.selectOptions {
	margin: 6px 0 8px 20px;
}